<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>

    <style>
    .site-header {
        justify-content: space-between;
        align-items: center;
     }
    .header_site {
        text-align: center;
    }
    .card-img-top2 {
        height: 215px;
    }
    </style>

</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
            <b><a class="navbar-brand" href="#">Tests-online.ru</a></b>
            <small><span class="navbar-text">
                развлекательные тесты онлайн
            </span></small>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
                <li class="nav-item dropdown">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Статистика</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Напишите что-нибудь" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти тест</button>
            </form>
        </div>
    </nav>

</header>

<h1 class="header_site">Развлекательные тесты "Кто ты?"</h1>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/img/dog1.jpeg" class="card-img-top1" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Какая ты собака?</h5>
                    <p class="card-text">Узнай, какая порода собаки больше всего подходит тебе по темпераменту и
                        характеру!</p>
                    <a href="#" class="btn btn-primary">Начать тест</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="static/img/drink.jpg" class="card-img-top2" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Какой ты напиток?</h5>
                    <p class="card-text">Пройди тест и узнай, какой ты напиток, исходя из твоих качеств</p>
                    <a href="#" class="btn btn-primary">Начать тест</a>
                </div>
            </div>
        </div>
        <div class="col">
            Column
        </div>
    </div>
</div>


<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>

</html>


